body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color:beige;
  }
  
  h1 {
    text-align: center;
  }
  
  #new-book-btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 15px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .book-card {
    background-color: rgb(213, 184, 129);
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .book-card h3 {
    margin-top: 0;
  }
  
  .book-card button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-read {
    background-color:black;
    color: white;
    margin-right: 5px;
  }
  
  .remove-book {
    background-color: #d83125;
    color: white;
  }
  
  dialog {
    padding: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: beige;
  }
  
  dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  